<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form action="/search" method="post">
    <label>Name: <input type="text" name="name"></label><br>
    <label>Categories:* <input type="text" name="categories"></label><br>
    <button type="reset">Clear</button>
    <button type="submit">Search</button>
</form>
<h3>List of All <%=result.length%> locations</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
        <th></th>
    </tr>
    <%for(var i = 0; i < result.length ; i++) { %>
    <tr>
        <td><b><%=result[i].Name%></b></td>
        <td><%=result[i].Categories%></td>
        <td><%=result[i].Latitude%></td>
        <td><%=result[i].Longitude%></td>
        <td><form method="get" action='/update/<%=result[i]._id%>'><button>Edit</button></form></td>
        <td><form method="post" action='/delete?id=<%=result[i]._id%>'><button>Delete</button></form></td>
    </tr>
    <%}%>
</table>
</body>
</html>
